<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= appName %></title>

    <!-- build:css styles/lib.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/app.css -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- endbuild -->

</head>
<body>

    <div id="container">
        <h1>Yeoman Generated Application -- Please Change</h1>
        <div data-ng-include="'app/layout/nav.html'"></div>
        <section id="main">
            <ui-view></ui-view>
        </section>
        <footer> &nbsp; </footer>
    </div>

    <!-- build:css js/lib.js-->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css js/app.js-->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:templates.js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>
</html>
